@font-face {
	font-family: 'fira';
	src: url('/fonts/FiraGO-Medium.woff2') format('woff2'),
	url('/fonts/FiraGO-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira';
	src: url('/fonts/FiraGO-Regular.woff2') format('woff2'),
	url('/fonts/FiraGO-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}